$primary-color: #3a6ea5;
$secondary-color: #5fa8d3;
$bg-color: #f4f6f9;
$text-color: #222;

// Dark mode färger
$dark-bg-color: #1e1e1e;
$dark-text-color: #f1f1f1;
$dark-primary-color: #274c77;
$dark-secondary-color: #3a6ea5;