@use '../utils/variables' as vars;

@keyframes colorShift {
    0% {
        color: vars.$primary-color;
        text-shadow: none;
        transform: scale(1);
    }
    50% {
        color: red;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transform: scale(1.2);
    }
    100% {
        color: vars.$primary-color;
        text-shadow: none;
        transform: scale(1);
    }
}
.fade-text {
    display: inline-block;
    animation: colorShift 3s infinite;
}

@keyframes slideAcross {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(300px) translateY(20px) rotate(10deg);
    }
    100% {
        transform: translateX(0);
    }
}

.moving-image {
    width: 200px;
    height: auto;
    display: block;
    margin: 2rem auto;
    animation: slideAcross 5s infinite ease-in-out;
}